
/*------------- FONTES ------------*/
body{
    font-family: 'Work Sans', sans-serif;

}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

p, ul, li, a{
  font-family: 'Work Sans', sans-serif;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/*-------------- HEADER--------------*/

#header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 997;
    transition: all 0.5s;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  }


.texto-banner {
  align-items: center;
  background-image: url(img/header.png);
  background-repeat: round;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  margin: 0;
  text-align: center;
  width: 100%;
}

.texto-banner h3 {
  font-size: 28px;
  width: 750px;
}

.texto-banner p {
  font-size: 18px;
  margin-top: 30px;
  width: 450px;
}

.texto-banner a {
  background: #6FA8B2;
  border-radius: 6px;
  color: #fff;
  padding: 14px;
  text-decoration: none;
}

.texto-banner a:hover {
  background: #71c0ce;
}

/*-------------Body-------------*/

.about-content{
    padding: 60px;
    background-color: #EDEDED;
}

.about-content-img{
    padding: 80px;
    background-color: white;
}

.container-text{
    text-align: justify;
    width: 100%;

}

.container-text2{
    text-align: justify;
    width: 80%;

}

.design-p{
  display: block;
}
.design-p h2{
  display: inline-block;
}

.carditem{
    width: 49%;
    display: flex;
    align-items: center;

}

.carditem img:hover{
    transform:scale(1.1);
    transition: ease .5s;
    
}

.body div h2{
    text-align: center;
}
 

.body-gr{
    padding-top: 70px;
}

.divider{
    margin-top: px;
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #ffc107;
}

.tittle-ab{
  text-align: center;
  padding-top: 40px;
}

.botao{
text-align: center;
}

.metodologia{
  padding-top: 100px;
  display: block;
}

.metodologia h2{
  text-align: center;
}

/*----------footer---------*/


#footer {
    background: #3F88C5;
    padding: 0 0 10px 0;
    color: #EDEDED;
    font-size: 14px;
  }

#footer .footer-top {
    background: #3F88C5 ;
    padding: 5px 15px 5px 15px;
}

#footer .footer-top .footer-info {
    margin-bottom: 10px;
    text-align: center;
}


#footer .copyright {
    text-align: center;
    padding-top: 10px;
}

#footer .copyright p {
    font-size: small;
}




@media (max-width: 800px) {
  #banner {
    width: 100%;
    padding-top: 70px;
  }

  .texto-banner {
    height: auto;
    text-align: center;
    padding: 50px 0;
  }

  .texto-banner h3 {
    font-size: 22px;
    width: 300px;
  }

  .texto-banner p  {
    font-size: 12px;
    margin-top: 6px;
    width: 80%;
    
  }
 
}